.container-fluid{
    min-height:50vh;
    
}
.jumbotron {
    background-color: rgb(35, 219, 106);
    padding: 0em;
    margin-bottom: 0em;
}
.navbar{
    background-color: rgb(35, 219, 106);
    margin-top: 0em;
}
.navbar-nav > a{
    color: white;
    font-size: 22px !important;
    }
h1 { 
font-size: 4em;    
}
  #imglogo{
     margin-top: 1em;
    width: 100px;
    height: 100px;
  }
  .card{
      margin-top: 20px;
      margin-right: 10px;
  }

  .row-content {
    align-content: center;
    min-height: 200px;
    }
#imglogo, h1 {
animation: shake 0.8s;
animation-iteration-count: 9s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }

  }

  img{
      width: 300px;
      height: 200px;
  }
#border{
    border: solid 1px rgb(241, 241, 241);
    padding: 10px 10px 10px 10px;
    border-radius: 8px;
    margin:10px 10px 10px 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
button{
    margin-top: 10px;
}
.carousel-inner  img{
    height: 500px;
    width: 200px;
}
@media  (max-width: 500px) {
    .carousel-inner  img{
        height: 300px;
        width: 200px;
        border: solid 3px rgb(14, 211, 73);
        margin-top: 20px;
        margin-bottom: 20px;
  }
}
footer{text-align: center;}